/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project-card {
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: center;
    transition: box-shadow 0.3s;
    display: inline-block;
}

.download-card {
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: left;
    transition: box-shadow 0.3s;
    scroll-padding-top: 111;
    box-sizing: border-box;
    padding: 17px;
    font-size: x-large;
}

.paypal-box {
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: left;
    transition: box-shadow 0.3s;
    scroll-padding-top: 111;
    box-sizing: border-box;
    padding: 17px;
    font-size: x-large;
}