/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-container {
    justify-content: center;
    display: flex;
    gap: 1em;
}

.project-card {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: center;
    display: inline-block;
    transition: 0.3s ease;
    width: 300px
}
.card-image {
    width: 100%;
}
.project-card:hover {
    transform: scale(1.1);
}
.card-text {
    padding: 1em;
}
.download-card {
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: left;
    transition: box-shadow 0.3s;
    scroll-padding-top: 111;
    box-sizing: border-box;
    padding: 17px;
    font-size: x-large;
}
.paypal-box {
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-align: left;
    transition: box-shadow 0.3s;
    box-sizing: border-box;
    font-size: x-large;
    padding: 17px;
    width: fit-content;
}

@media (max-width:600px) {
    .card-container {
        display: grid;
    }
}

.paypal-link {
    font-size: xx-large;
}
.paypal-img-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paypal-img {
    width: 20%;
    transition: 0.3s ease;
}
.paypal-img:hover {
    transform: scale(1.1);
}
.paypal-donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.paypal-donate:hover {
    transform: scale(1.1);
}